<a href="https://colab.research.google.com/github/NatalieLow/Data-Science-for-Construction-Architecture-and-Engineering/blob/main/Copy_of_Exercise_2_2_Pandas_Fundamentals_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.2 - Pandas Fundamentals II

This set of exercises is the second of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the second set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.2

There are three exercises in this set, each one slightly more advanced uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.2.3 for the Quiz 2.2.

First, we will help by importing the files the libraries you will need on this notebook:

In [1]:
import pandas as pd
import os
from google.colab import drive

And mount the google drive folder

In [2]:
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/Colab Notebooks/Section 2/simulation_data")

Mounted at /content/gdrive

## Exercise 02.2.1 - Load multiples files and concatenate them

As a data scientist in the built environment, you may want to compare different simulation scenarios with a baseline in order to aid the decision making of the stakeholders. By doing this, you can provide better insights to the design team in terms of which strategy is less energy heavy.

The first thing we can do is load all the different scenarios alongside the baseline together. As you saw on the videos, one feature of interative python notebooks is the ability to run UNIX commands, such as `ls`:

In [3]:
ls

'Copy of Baseline.csv'
'Copy of Baseline.gsheet'
'Copy of Scenario - Aircon Schedules.csv'
'Copy of Scenario - Cool roof.csv'
'Copy of Scenario - Increase Setpoint.csv'
'Copy of Scenario - Low-E Glass.csv'
'Copy of Scenario - Rooftop Gardens.csv'

In [4]:
# when `ls` is ran on a cell with python code, there should be a `!` in front of it
print("some python code")
!ls

some python code
'Copy of Baseline.csv'
'Copy of Baseline.gsheet'
'Copy of Scenario - Aircon Schedules.csv'
'Copy of Scenario - Cool roof.csv'
'Copy of Scenario - Increase Setpoint.csv'
'Copy of Scenario - Low-E Glass.csv'
'Copy of Scenario - Rooftop Gardens.csv'

This command lists the contents of a given directory. In your case, is listing the contents of the current directory on which you arrived after mounting the gdrive.

You have already used `.read_csv()` to load a single file, now you are tasked to write a program that loads all the `.csv` files shown by the `ls` command. 

In this exercise go ahead and try loading and manipulating all the scenario files, this time using a **function**.

The function is called `load_all_csv` and the input is a list of string with the file names.

After implementing it, you would only need to run the following one-liner `all_data = load_all_csv(files_names)` to load all the data properly, assuming `file_names` contains the **string** names of all the `csv` files you want .

Complete the function below and verify the files are loaded into `all_data`.

Use this first code cell to define your function:

In [57]:
def load_all_csv(files_names):
    # Follow this function template: take a list of file names and return one dataframe
    # YOUR CODE HERE
    csv_s = []
    for n in files_names:
      # print (n)
      df = pd.read_csv(n, index_col='Month')
      csv_s.append(df)
    print(csv_s)
    combined = pd.concat(csv_s, axis=1)  
    return combined

Now you can write code here that will define the list of scenario files, call the function, and show the resultant DataFrame `all_data`

In [58]:
# from tables import file
# Use the function you just defined and load all the files
# YOUR CODE HERE

file_names = os.listdir()
file_names.pop(0)
# print(file_names)
all_data = load_all_csv(file_names)
all_data

[           Scenario - Low-E Glass
Month
January                      5.41
February                     6.48
March                       10.37
April                       13.36
May                         19.14
June                        22.47
July                        26.84
August                      26.91
September                   24.77
October                     18.16
November                    12.69
December                     7.24,            Scenario - Rooftop Gardens
Month
January                          6.30
February                         7.15
March                           10.90
April                           13.59
May                             18.94
June                            22.12
July                            26.29
August                          26.47
September                       24.63
October                         18.51
November                        13.55
December                         8.19,            Scenario - Increase Setpoint
Month
January                            2.73
February                           3.88
March                              6.60
April                              9.37
May                               14.82
June                              18.01
July                              21.98
August                            22.15
September                         19.92
October                           13.65
November                           8.49
December                           4.15,            Scenario - Aircon Schedules
Month
January                           5.61
February                          6.50
March                             9.70
April                            11.95
May                              16.52
June                             18.89
July                             22.13
August                           22.14
September                        20.38
October                          15.87
November                         11.71
December                          7.16,            Scenario - Cool roof
Month
January                    4.46
February                   5.39
March                      8.96
April                     11.73
May                       17.28
June                      20.54
July                      24.76
August                    24.97
September                 22.98
October                   16.57
November                  11.41
December                   6.36,            Baseline
Month
January        5.69
February       6.75
March         10.64
April         13.60
May           19.34
June          22.64
July          27.02
August        27.13
September     25.04
October       18.47
November      13.02
December       7.53]

,Scenario - Low-E Glass,Scenario - Rooftop Gardens,Scenario - Increase Setpoint,Scenario - Aircon Schedules,Scenario - Cool roof,Baseline
Month,,,,,,
January,5.41,6.30,2.73,5.61,4.46,5.69
February,6.48,7.15,3.88,6.50,5.39,6.75
March,10.37,10.90,6.60,9.70,8.96,10.64
April,13.36,13.59,9.37,11.95,11.73,13.60
May,19.14,18.94,14.82,16.52,17.28,19.34
June,22.47,22.12,18.01,18.89,20.54,22.64
July,26.84,26.29,21.98,22.13,24.76,27.02
August,26.91,26.47,22.15,22.14,24.97,27.13
September,24.77,24.63,19.92,20.38,22.98,25.04
October,18.16,18.51,13.65,15.87,16.57,18.47
November,12.69,13.55,8.49,11.71,11.41,13.02
December,7.24,8.19,4.15,7.16,6.36,7.53

## Exercise 02.2.2 - Dataframe column slicing
Sometimes, even if you have all the data we want to compare in one single dataframe, you may want to analyse specific columns rather than all of them.

In this exercise, write some lines of codes that creates a new dataframe containing only data from the `Baseline` and the simulation scenarios regarding **scheduling** and **setpoint** operation.

**Hint**: Look at the instruction code in Exercise 02.01.3 for a reference on how to select a single column.

**Hint**: Remember that when you want to group variables is better to treat them as a list `['a','b']` instead of just two independant variables `'a','b'`. Notice the square brackets.

In [29]:
# Select only the baseline and simulation scenarios asked above
# YOUR CODE HERE
scheduling_setpoint_df = pd.concat([all_data['Baseline'], all_data['Scenario - Aircon Schedules'], all_data['Scenario - Increase Setpoint']], axis=1)
scheduling_setpoint_df

           Baseline  Scenario - Aircon Schedules  Scenario - Increase Setpoint
Month
January        5.69                         5.61                          2.73
February       6.75                         6.50                          3.88
March         10.64                         9.70                          6.60
April         13.60                        11.95                          9.37
May           19.34                        16.52                         14.82
June          22.64                        18.89                         18.01
July          27.02                        22.13                         21.98
August        27.13                        22.14                         22.15
September     25.04                        20.38                         19.92
October       18.47                        15.87                         13.65
November      13.02                        11.71                          8.49
December       7.53                         7.16                          4.15

## Exercise 02.2.3 - Calculate maximum value across rows and columns
In this last exercise, let's create an analysis of the `Baseline` and the simulation scenarios chosen before. 

For **each month**, find the scenario (column) with the **lowest** consumption value. Then, in order to calculate the **energy savings** potential of this scenario **on this month**, find the scenario (column) with the **highest** value. The energy savings percentage can be then calculated as one minus the ratio of these values all multiplied by 100. You save these values in the list `savings`.

Finally, report the `maximum` percentage of energy savings, across all months, as well as the **month** where this is achieved.

**Hint**: One way to select specific rows in a dataframe is by choosing the index with the function `.iloc[]`. This function accepts arguments in the form of `row_indices` or `row_indices, column_indices` (indices start with 0 in Python). Remember that execution the same action multiple times (Calculating the savings percentage, can be automated in a `for loop`

In [74]:
# You can use the variable `savings` to keep track of the increase from baseline to best scenario
savings = []
savings_indexes = []
# YOUR CODE HERE
# num_rows = scheduling_setpoint_df.ilocshape[0]

df_indexes = scheduling_setpoint_df.index
# print(df_indexes)

for x in df_indexes:
  # print(x)
  min_consumption = min(scheduling_setpoint_df.loc[x, :])
  # print(min_consumption)
  max_consumption = max(scheduling_setpoint_df.loc[x, :])
  # print(max_consumption)
  ratio = min_consumption/max_consumption
  savings_percentage = (1 - ratio) * 100
  savings.append(savings_percentage)
  savings_indexes.append(x)
# print(savings)
# print(savings_indexes)
df = pd.DataFrame({"savings": savings}, index = savings_indexes)
# print(df)
print(max(savings))
print(df.idxmax())
# df_with_savings = pd.concat([scheduling_setpoint_df,df], axis=1)
# print(df_with_savings)

52.02108963093146
savings    January
dtype: object

### Please write down the month with the **highest savings** and input it in Quiz 2.2

In [ ]:
January